@import url("https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.headerbg {
  background: url("https://i.ibb.co/q7Pm2Jk/italian-pasta-shells-with-mushrooms-zucchini-tomato-sauce-min.jpg"),
    linear-gradient(to left, #0707078e, #0e0d0db0);
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-size: cover;
}
.subscribeBg {
  background: url("https://img.pikbest.com/backgrounds/20191025/simple-burger-food-fast-food-background-synthesis_1905549.jpg!bw700"),
    linear-gradient(45deg, #7f39b9b4, #0000000a);
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid black;
}
